html, body{
  background-color: #688AB0;
  overflow-y:auto;
}
.title{
  margin-left: 7%;
}
.md-fab.md-default-theme{
  background-color: #7DBCDF;
  color: #000000;
  margin-left: 17%;
}
.md-fab img{
  width: 50%;
  height: 50%;
  margin: auto;
  display: block;
}
.tabs, .tab a{
  background-color: #D1DBE5;
  color: #000000 !important;
}
